
$primaryColor: rgb(161, 0, 0);
$secondaryColor:  rgb(197, 197, 197);
$light-gray: #eceef1;
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $secondaryColor;
    font-family: 'Poppins',sans-serif;
}

.container{
    background-color: rgb(172, 172, 172);
    width: 90%;
    max-width: 800px;
    margin: 10% auto 0% auto;
    box-shadow: 0px 0px 10px 7px;
    padding: 50px 20px 0px 20px;
    border-radius: 20px;
    text-align: center;
}

.bloghead {
    text-align: center;
    margin-bottom: 4px;
    padding: 10px;
    color: black;
    font-size: 100px;
}

.newbtn {
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
    background-color: $secondaryColor;
    font-size: 25px;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: $primaryColor;
    }
}

.blog-title {
    margin: 40px 20px 20px 50px;
    font-size: 75px;
}

.date {
    font-size: 20px;
    color: gray;
    margin: 0px 0px 20px 0px;
}

.blog-text {
    font-size: 30px;
    color: black;
    margin: 30px 0px 30px 0px;
}
.btn-read {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: $secondaryColor;
    font-size: 25px;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: $primaryColor;
    }
}

.btn-info {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: $secondaryColor;
    font-size: 25px;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: $primaryColor;
    }
}

.btn-all {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: $secondaryColor;
    font-size: 25px;
    text-decoration: none;
    color: black;
    &:hover{
        background-color: $primaryColor;
    }
}

